#certifications .section__wrapper{
    display: grid;
    gap: 30px;
    grid-template-columns: 35% 60%;
}

#certifications .certification__container{
    width: 100%;
    padding-bottom: 4rem !important;
}

#certifications .client__avatar {
    width: 15rem; /* Increased from 4rem to 6rem */
    /* aspect-ratio: 1/1; */
    overflow: hidden;
    border-radius: 0%;
    margin: 0 auto 1rem;
    border: var(--gray--border);
}

#certifications .certification{
    background: var(--color-ui-2);
    text-align: center;
    padding: 20px;
    border-radius: var(--border-radius-4);
    user-select: none;
}

#certifications .client__review{
    color: var(--color-text);
    font-weight: 300;
    font-size: 15px;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet{
    background: var(--color-primary);
}

@media (max-width:950px) {
    #certifications .section__wrapper{
        grid-template-columns: 100%;
    }
}